@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <p>Welcome to Tina's Study Group! We’re a community of students dedicated to learning, collaboration, and academic success. Whether you need help with challenging subjects, want to join discussions, or just need a motivating study environment, we’ve got you covered. Join us to share knowledge, stay productive, and achieve your goals—together!</p>
</main>