@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        15 Bond Street<br />
        Loftus, Pretoria 0002<br />
        <abbr title="Phone">P:</abbr>
        076 691 0312
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:magqiratina@gmail.com">magqiratina@gmail.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:magqiratina@gmail.com">magqiratina@gmail.com</a>
    </address>
</main>